.main {
  display: flex;
}

.sidebar {
  flex-grow: 1;
  padding: 0 0 0 3rem;
}

.maindiv {
  flex-grow: 7;
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.imgdiv {
  position: fixed;
  width: 45%;
}

.imgdiv img {
  border-radius: 20px;
  transform: rotate(90deg) translateX(-20%);
  width: 90%;
}

body {
  /* background: linear-gradient(#f69d3c, #3f87a6); */
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 1rem 0;
}