.main_body {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  flex-direction: column;
}

.main_searchbox {
  position: absolute;
  top: 2.25%;
  right: 4.5%;
  font-family: var(--font);
  background-color: var(--primary_color);
  height: 1.75em;
  width: 200px;
  padding: 4px 10px;
  /* border-radius: 16px; */
  border: solid var(--primary_color) 4px; 
  outline: none;
  transition: border 0.75s ease;
  
}

@keyframes circularAnim {
  from {
    border-color: var(--primary_color);
    }
  25% {
    border-top-color: black;
    border-right-color: var(--primary_color);
    border-bottom-color: var(--primary_color);
    border-left-color: var(--primary_color);
  }
  50% {
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: var(--primary_color);
    border-left-color: var(--primary_color);
  }
  75% {
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: var(--primary_color);
  }
  to {
    border-color: black;
  }
} 

.main_searchbox:focus, .main_searchbox:hover{
  animation: circularAnim 0.6s ease 1 forwards;
  border-color: black;
  transform-origin: right;
}

.main_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 400px); */
  gap: 35px;
  transform: translateZ(0);
  padding: 0 1.5rem;
}

