.selection_main {
  display: flex;
}

.selection_sidebar {
  flex-grow: 1;
  padding: 0 0 0 3rem;
}

.selection_form > p {
  font-family: var(--font);
}

.selection_list {
  gap: 10px;
  font-family: var(--font);
}

.selection_list.sets {
  display: flex;
}

.selection_list.planes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  
}

.selection_item {
  border: solid 1px black;
  font-family: var(--font);
  border-radius: 16px;
  overflow: hidden;
}

.selection_list.sets > .selection_item{
  padding: 5px 8px;
}

.selection_list.planes > .selection_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.selection_label {
  padding: 5px 0;
}

.selection_tooltip {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  border-left: 1px black solid;
}

.selection_tooltip > p {
  /* display: inline-block; */
  /* padding-right: 2px; */
  /* padding-bottom: 1px; */
}

.selection_tooltip_popup {
  max-width: 400px;
}
