html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
  overflow: scroll;
}

body {
  background-color: #F0F0F0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
}

.header_title {
  font-size: 36px;
  padding: 10px 0;
  text-decoration: none;
}

.main_body {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  flex-direction: column;
}

.main_grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.main_card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  margin: 10px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #E6E6E6;
  text-decoration: none;
  color: black;
}

.main_card:active, :visited{
  color: black;
}


.main_card img {
  width: 60%;
  transform: rotate(90deg) translate(-20px);
  border-radius: 16px;
}

.move_up {
  transform: translateY(-30px);
  
}

/* .main_card_textbox {

} */

.main_card_name {
  font-size: 24px;  
  align-self: center;
  padding: 10px 30px;
}

.main_card_type {
  padding: 0 30px;
}

.main_card_oracle {
  padding: 10px 30px;
}

.selection_main {
  display: flex;
}

.selection_sidebar {
  flex-grow: 1;
  padding: 0 0 0 3rem;
}

.selection_maindiv {
  flex-grow: 7;
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.selection_imgdiv {
  position: fixed;
  width: 45%;
}

.selection_imgdiv img {
  border-radius: 20px;
  transform: rotate(90deg) translateX(-20%);
  width: 90%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h1 {
  margin: 0 auto;
}

.card img {
  width: 30%;
  border-radius: 24px;
  transform: rotate(90deg);
}